$main-color:#4A99D3;
$text-color:#0F001A;
$Heading-color: #260041;
$linear1-color:#4a9ad34d;
$linear2-color:#4a9ad300;

%properies-link {
    text-decoration: none;
    color: #FFF;
}

*,*::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

//! start Home Page
// start header
header {
    position: relative;
    min-height: 730px;
    margin-bottom: 50px;
    background: linear-gradient(to bottom, $linear1-color 5%, $linear2-color 100%);
    box-shadow: 0px 4px 16px 0px rgba(75, 0, 129, 0.26);
    z-index: 1;
    nav {
        padding: 50px 0 0 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .logo {
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 700;
            a {
                text-decoration: none;
                color: $main-color;
                font-size: 1.2em;
            }
        }
        ul {
            margin: 0;
            width: 35%;
            list-style: none;
            display: flex;
            justify-content: space-around;
            li {
                a {
                    font-size: 18px;
                    font-weight: 400;
                    padding: 5px;
                    text-decoration: none;
                    color: #000;
                }
            }
        }
        .ParentHamburger {
            display: none;
        }
    }
    .hero {
        margin-top: 120px;
        display: flex;
        .sec-1 {
            width: 60%;
            h2 {
                font-size: 50px;
                line-height: 70px;
                color: $Heading-color;
            }
            p {
                font-size: 20px;
                line-height: 36px;
                margin: 30px 0;
                color: $text-color;
            }
            .download-btn {
                display: flex;
                width: 60%;
                justify-content: space-between;
                .android {
                    width: 180px;
                    height: 60px;
                    border-radius: 5px;
                    background-color: $main-color;
                    transition: all .7s ease;
                    img {
                        display: block;
                        margin: 15px auto;
                    }
                    &:hover {
                        box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
                    }
                }
                .ios {
                    width: 180px;
                    height: 60px;
                    border-radius: 5px;
                    background-color: $main-color;
                    transition: all .5s ease;
                    img {
                        display: block;
                        margin: 15px auto;
                    }
                    &:hover {
                        box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
                    }
                }
            }
        }
        .sec-2 {
            width: 40%;
            position: relative;
            img {
                position: absolute;
                top: -70px;
                right: 0;
                &:nth-child(2) {
                    right: 200px;
                    top: 30px;
                    width: 50%;
                }
            }
        }
    }
}
// end header

// start section one
.sec-one {
    position: relative;
    padding: 70px 0 0 0;
    min-height: 1250px;
    z-index: 3;
    background-color: #FFF;
    .grid-two-four {
        height: 800px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 25% 25% 25%;
        grid-row-gap: 100px;
        grid-template-areas: 
        ". c-one"
        "c-two c-one"
        "c-two c-three"
        ". c-three";
        h2 {
            color: $Heading-color;
            width: 395px;
            height: 138px;
            font-size: 36px;
        }
        .card {
            box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
            background-color: #FFF;
            padding:40px;
            width: 380px;
            height: 525px;
            margin: 0 auto;
            display: grid;
            img {
                display: block;
                margin: 0 auto;
            }
            h3 {
                color: $text-color;
            }
            p {
                color: $text-color;
                font-size: 16px;
                line-height: 26px;
            }
            a {
                text-decoration: none;
                color: $main-color;
                display: block;
                height: 30px;
                width: 50%;
                img {
                    display: inline-block;
                    padding-left: 20px;
                    vertical-align: middle;
                }
            }
        }
        .card-1 {
            position: relative;
            grid-area: c-one;
            z-index: 3;
        }
        .card-2 {
            grid-area: c-two;
            box-shadow: 0 20px 40px $linear1-color;
        }
        .card-3 {
            grid-area: c-three;
            box-shadow: 0 20px 40px $linear1-color;
        }
    }
    .dt {
        img {
            position: absolute;
            top: 0;
            right: 0;
            width: 153px;
            z-index: -1;
            &:nth-of-type(1) {
                right: 10%;
                top: 2%;
            }
            &:nth-of-type(2) {
                top: 40%;
                right: 81%;
            }
            &:nth-of-type(3) {
                top: 89%;
                right: 10%;
            }
            &:nth-of-type(4) {
                top: -2%;
            }
            &:nth-of-type(5) {
                top: 15px;
                z-index: 20;
            }
        }
    }
}
// end section one

// start section two
.sec-two {
    background-color: $linear1-color;
    margin: 50px 0 70px;
    padding: 50px 0;
    h2 {
        color: $main-color;
        text-align: center;
        margin: 50px 0;
        font-size: 30px;
    }
    .s-2 {
        text-align: center;
        div {
            color: $text-color;
            font-size: 18px;
            h3 {
                margin: 15px 0;
            }
            p {
                line-height: 28px;
            }
        }
    }
}
// end section two

// start section three
.sec-three {
    position: relative;
    background-color: #FFF;
    z-index: 3;
    margin: 100px 0;
    div {
        margin-left: 0;
        padding-left: 0;
    }
    h2 {
        color: $text-color;
        text-align: center;
        margin: 50px 0 0 200px;
        font-size: 30px;
    }
    .quot {
        .quot-col-1 {
            position: relative;
            &:before {
                position: absolute;
                content: "";
                bottom: 0;
                width: 100%;
                height: 75%;
                z-index: -1;
                background-color: $linear1-color;
            }
            img {
                display: block;
                padding-left: 30px;
            }
        }
        .quot-col-2 {
            padding-left: 100px;
            display: grid;
            align-content: flex-end;
            .items-quot {
                margin:0 0 70px 0;
                .item {
                    blockquote {
                        color: $text-color;
                        line-height: 24px;
                        margin: 30px 0;
                        opacity: .7;
                    }
                    span {
                        font-weight: bold;
                    }
                }
            }
            .control {
                button {
                    width: 80px;
                    height: 80px;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    float: right;
                    img {
                        filter: invert(56%) sepia(91%) saturate(307%) hue-rotate(165deg) brightness(83%) contrast(100%);
                    }
                }
                .prev {
                    transform: translateX(-80px);
                }
                .next {
                    transform: translateX(80px);
                }
                .active {
                    transition: all .3s ease-in;
                    background-color: $main-color;
                    img {
                        filter: grayscale(0%) blur(0px) sepia(1) saturate(0) opacity(1) brightness(200%) contrast(100%) invert(0%);
                    }
                }
            }
        }
    // quot
    }
    .s-three-dot {
        position: absolute;
        top: 30%;
        right: 0;
        width: 153px;
    }
}
// end section three

// start section four
.sec-four {
    margin: 100px 0;
    background-color: #FFF;
    .down-app {
        .c-four-left {
            position: relative;
            img {
                position: absolute;
                top: 0;
                left: 50%;
                width: 240px;
                z-index: 5;
                transform: translateX(-50%);
                &:nth-of-type(1) {
                    top: 50%;
                    left: -10%;
                    width: 180px;
                    z-index: 4;
                    transform: translate(50%, -50%);
                }
                &:nth-of-type(3) {
                    top: 50%;
                    left: 47%;
                    width: 180px;
                    z-index: 4;
                    transform: translate(50%, -50%); 
                }
            }
        }
        .c-four-right {
            display: grid;
            height: 458px;
            align-content: center;
            text-align: center;
            h2 {
                line-height: 26px;
                color: $text-color;
            }
            p {
                font-size: 16px;
                width: 440px;
                opacity: .7;
                color: $text-color;
                margin: 30px auto;
                line-height: 24px;
            }
            .down-androi-ios {
                display: flex;
                justify-content: center;
                a {
                    display: inline-flex;
                    margin: 0 10px 0;
                    img {
                        display: block;
                    }
                }
            }
        }
    }
}
// end section four

// start footer
footer {
    background-color: $main-color;
    padding: 50px 0 0 0;
    .footer {
        .footer-c1 {
            .logo {
                img {
                    width: 109px;
                }
            }
        }
        .footer-c2 {
            display: flex;
            justify-content: space-between;
            ul {
                padding: 0 30px;
                list-style: none;
                h3 {
                    color: #FFF;
                    position: relative;
                    margin-bottom: 20px;
                    &::after {
                        position: absolute;
                        top: calc(100% + 7px);
                        left: 0;
                        background-color: #FFF;
                        content: "";
                        height: 2px;
                        width: 100%;
                    }
                }
                li {
                    padding: 5px 0;
                    a {
                        font-size: 14px;
                        line-height: 14px;
                        text-decoration: none;
                        color: #FFF;
                    }
                }
            }
        }
        .footer-c3 {
            p {
                width: 364px;
                color: #FFF;
                line-height: 26px;
                margin-bottom: 25px;
                letter-spacing: 2px;
            }
            input[type="text"] {
                width: 220px;
                height: 50px;
                font-size: 14px;
                border: none;
                outline: none;
                border-radius: 3px;
                padding-left: 10px;
                background-color: #FFF;
                transition: all .3s ease;
                &::placeholder {
                    opacity: 50%;
                }
                &:focus {
                    box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
                }
            }
            input[type="submit"] {
                width: 116px;
                height: 50px;
                font-size: 16px;
                line-height: 16px;
                cursor: pointer;
                border: none;
                outline: none;
                border-radius: 3px;
                background-color: #FFF;
                color: $main-color;
                font-weight: 700;
                transition: all .3s linear;
                &:hover {
                    box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
                }
            }
        }
    }
}
// start compyright
.compyright {
    position: relative;
    margin-top: 20px;
    padding: 20px 0;
    p {
        color: #FFF;
        font-size: 15px;
    }
    .social-media-links {
        display: flex;
        justify-content: flex-end;
        margin: 0;
        list-style: none;
        li {
            margin: 0 10px 0;
            a {
                padding: 5px;
                text-decoration: none;
                img {
                    filter: invert(100%) sepia(3%) saturate(12%) hue-rotate(103deg) brightness(105%) contrast(105%);
                }
            }
        }
    }
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 1px;
        background-color: #FFF;
    }
}
// end compyright
// end footer
//! end Home Page

//! start About Page
// start contact
.contact {
    position: absolute;
    top: 75%;
    left: 50%;
    padding: 50px;
    transform: translate(-50%, -50%);
    width: 950px;
    background-color: #FFF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
    z-index: 5;
    h2 {
        position: relative;
        text-align: center;
        margin-bottom: 50px;
        color: $main-color;
        &::after {
            position: absolute;
            top: 110%;
            left: 41.3%;
            content: "";
            display: block;
            width: 17.3%;
            height: 2px;
            background-color: $main-color;
        }
    }
    .get-in-touch {
        h3 {
            margin-bottom: 30px;
            color: $text-color;
        }
        form {
            position: relative;
            input {
                width: 422px;
                height: 50px;
                font-size: 16px;
                border: 1px solid $main-color;
                padding-left: 15px;
                margin-bottom: 30px;
                border-radius: 4px;
                outline: none;
                color: $text-color;
                background-color: transparent;
            }
            textarea {
                border: 1px solid $main-color;
                width: 422px;
                height: 137px;
                font-size: 16px;
                border-radius: 4px;
                outline: none;
                color: $text-color;
                padding: 15px;
                resize: none;
                background-color: transparent;
            }
            input[type="submit"] {
                margin: 30px 0;
                border: none;
                outline: none;
                background-color: $main-color;
                color: #FFF;
                font-weight: bold;
                font-size: 18px;
                padding: 0;
                border-radius: 4px;
                cursor: pointer;
                transition: all .3s linear;
                &:hover {
                    box-shadow: 0 4px 7px rgba(0, 0, 0, .2);
                }
            }
            span {
                color: #878787;
                position: relative;
                display: inline-block;
                margin-left: 15px;
                z-index: -1;
            }
            .placeholder-name, .placeholder-email {
                transform: translateY(-63px);
            }
            .placeholder-message {
                transform: translateY(-125px);
            }
            textarea:focus + span,
            input[type="text"]:focus + span,
            input[type="email"]:focus + span {
                font-weight: bold;
                background-color: #FFF;
                color: #000;
                z-index: 1;
                transition: all .2s linear;
            }
            input[type="text"]:focus + .placeholder-name {
                transform: translateY(-89px);
            }
            input[type="email"]:focus + .placeholder-email {
                transform: translateY(-89px);
            }
            textarea:focus + .placeholder-message {
                transform: translateY(-151px);
            }
        }
        .info-contact {
            padding-top: 50px;
            margin-left: 50px;
            height: 80%;
            ul {
                list-style: none;
                margin: 0;
            }
            .info-c {
                display: grid;
                li {
                    margin: 0 0 30px;
                    img {
                        margin-right: 10px;
                        width: 15px;
                        vertical-align: top;
                    }
                    p {
                        display: inline-block;
                        width: 266px;
                    }
                    &:nth-of-type(3) {
                        img {
                            vertical-align: middle;
                        }
                    }
                }
            }
            .social-media {
                margin: 0;
                display: flex;
                width: 130px;
                justify-content: space-between;
                list-style-type: none;
            }
            .address-on-map {
                display: block;
            }
        }
    }

    .PreventPlaceholderName .placeholder-name,
    .PreventPlaceholderEmail .placeholder-email {
        transform: translateY(-89px) !important;
        font-weight: bold !important;
        background-color: #FFF !important;
        color: #000 !important;
        z-index: 1 !important;
    }
    .PreventPlaceholderTextarea .placeholder-message {
        transform: translateY(-151px) !important;
        font-weight: bold !important;
        background-color: #FFF !important;
        color: #000 !important;
        z-index: 1 !important;
    }
}
// end contact
//! end About Page

//! start responsive
@media (max-width: 575.98px) {
    header {
        overflow: hidden;
        position: relative;
        nav {
            z-index: 100;
            width: 100%;
            ul {
                position: fixed;
                top: 0;
                left: -100%;
                text-align: center;
                height: 100%;
                width: 50%;
                background-color: $text-color;
                display: grid;
                align-content: flex-start;
                padding: 70px 0;
                transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
                li {
                    a {
                        display: block;
                        width: 100%;
                        color: #FFF;
                        padding: 10px;
                        border-radius: 4px;
                        transition: all .2s linear;
                        &:hover {
                            background-color: $main-color;
                        }
                    }
                }
            }
            .ParentHamburger {
                position: relative;
                cursor: pointer;
                height: 40px;
                width: 40px;
                display: grid;
                align-content: space-around;
                span {
                    height: 5px;
                    border-radius: 4px;
                    width: inherit;
                    background-color: $main-color;
                }
            }
            .close {
                position: absolute;
                top: 3%;
                left: 75%;
                span:nth-of-type(1) {
                    transform: rotate(-45deg) translate(-14px, 0);
                }
                span:nth-of-type(2) {
                    display: none;
                }
                span:nth-of-type(3) {
                    transform: rotate(45deg) translate(-14px, 0);
                }
            }
        }
        .hero {
            display: grid;
            .sec-1 {
                width: 100%;
                h2 {
                    font-size: 2.5em;
                    text-align: center;
                }
                p {
                    text-align: center;
                    font-size: 17px;
                    line-height: 35px;
                }
                .download-btn {
                    margin: 0 auto;
                    width: 90%;
                }
            }
            .sec-2 {
                display: none;
            }
        }
    }

    .sec-one {
        .grid-two-four {
            display: unset !important;
        }
        h2 {
            font-size: 1.9em !important;
        }
        .card {
            margin: 50px auto !important;
            padding:40px !important;
            width: 380px !important;
            height: 525px !important;
            p {
                font-size: 0.9em !important;
            }
        }
    }

    .sec-two {
        .s-2 {
            p {
                margin-bottom: 50px;
            }
        }
    }

    .sec-three {
        h2 {
            display: block;
            margin: 0 ;
            padding-bottom: 50px;
        }
        .quot {
            .quot-col-2 {
                margin: 50px 0;
                padding: 0;
                display: block;
                .items-quot {
                    text-align: center;
                }
            }
            .quot-col-2 > img {
                display: block;
                margin: 0 auto;
            }
        }
    }

    .sec-four {
        padding-top: 100px;
        margin: 0;
        .down-app {
            .c-four-left {
                margin-bottom: 50px;
                img {
                    width: 150px !important;
                    &:nth-of-type(1) {
                        left: 0;
                    }
                    &:nth-of-type(2) {
                        top: -90px;
                    }
                    &:nth-of-type(3) {
                        left: 40%;
                    }
                }
            }
            .c-four-right {
                margin-top: 100px;
            }
        }
    }

    footer {
        .footer {
            .footer-c1 {
                .logo {
                    img {
                        display: block;
                        margin: 0 auto 30px;
                    }
                }
            }
            .footer-c2 {
                margin: 0 0 30px 0;
                justify-content: center;
                ul {
                    padding: 0 20px;
                    h3 {
                        font-size: .9em;
                    }
                }
            }
            .footer-c3 {
                margin-bottom: 50px;
                text-align: center;
                p {
                    width: 100%;
                    margin: 0 auto 30px;
                }
            }

        }
        .compyright {
            margin: 0;
            .copyr-1 {
                p {
                    text-align: center;
                    margin: 0 0 20px;
                }
                order: 2;
            }
            .copyr-2 {
                order: 1;
                .social-media-links {
                    padding: 20px 0;
                    justify-content: center;
                    width: 100%;
                }
            }
        }
    }
}

@media (min-width: 575.98px) and (max-width: 767.98px) {
    header {
        overflow: hidden;
        position: relative;
        nav {
            z-index: 100;
            width: 100%;
            ul {
                position: fixed;
                top: 0;
                left: -100%;
                text-align: center;
                height: 100%;
                width: 50%;
                background-color: $text-color;
                display: grid;
                align-content: flex-start;
                padding: 70px 0;
                transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
                li {
                    a {
                        display: block;
                        width: 100%;
                        color: #FFF;
                        padding: 10px;
                        border-radius: 4px;
                        transition: all .2s linear;
                        &:hover {
                            background-color: $main-color;
                        }
                    }
                }
            }
            .ParentHamburger {
                position: relative;
                cursor: pointer;
                height: 40px;
                width: 40px;
                display: grid;
                align-content: space-around;
                span {
                    height: 5px;
                    border-radius: 4px;
                    width: inherit;
                    background-color: $main-color;
                }
            }
            .close {
                position: absolute;
                top: 3%;
                left: 75%;
                span:nth-of-type(1) {
                    transform: rotate(-45deg) translate(-14px, 0);
                }
                span:nth-of-type(2) {
                    display: none;
                }
                span:nth-of-type(3) {
                    transform: rotate(45deg) translate(-14px, 0);
                }
            }
        }
        .hero {
            display: grid;
            .sec-1 {
                width: 100%;
                h2 {
                    font-size: 2.5em;
                    text-align: center;
                }
                p {
                    text-align: center;
                    font-size: 17px;
                    line-height: 35px;
                }
                .download-btn {
                    margin: 0 auto;
                    width: 80%;
                }
            }
            .sec-2 {
                display: none;
            }
        }
    }

    .sec-one {
        margin: 95px 0;
        .grid-two-four {
            display: unset !important;
        }
        h2 {
            font-size: 1.9em !important;
        }
        .card {
            margin: 50px auto !important;
            padding:40px !important;
            width: 380px !important;
            height: 525px !important;
            p {
                font-size: 0.9em !important;
            }
        }
    }

    .sec-two {
        .s-2 {
            p {
                margin-bottom: 50px;
            }
        }
    }

    .sec-three {
        h2 {
            display: block;
            margin: 0;
            transform: translate(60px, 0);
            padding-bottom: 50px;
        }
        .quot {
            .quot-col-2 {
                margin: 50px 0;
                padding: 0;
                display: block;
                .items-quot {
                    width: 90%;
                    margin: 50px auto;
                    text-align: center;
                }
            }
            .quot-col-2 > img {
                display: block;
                margin: 0 auto;
            }
        }
    }

    .sec-four {
        padding-top: 100px;
        margin: 0;
        .down-app {
            .c-four-left {
                margin-bottom: 50px;
                img {
                    width: 150px !important;
                    &:nth-of-type(1) {
                        left: 0;
                    }
                    &:nth-of-type(2) {
                        top: -90px;
                    }
                    &:nth-of-type(3) {
                        left: 40%;
                    }


                }
            }
            .c-four-right {
                margin-top: 100px;
            }
        }
    }

    footer {
        .footer {
            .footer-c1 {
                .logo {
                    img {
                        display: block;
                        margin: 0 auto 30px;
                    }
                }
            }
            .footer-c2 {
                margin: 0 0 30px 0;
                justify-content: space-between;
                ul {
                    padding: 0 20px;
                    h3 {
                        font-size: .9em;
                    }
                }
            }
            .footer-c3 {
                margin-bottom: 50px;
                text-align: center;
                p {
                    width: 65%;
                    margin: 0 auto 30px;
                    text-align: left;
                }
                input[type="submit"] {
                    height: 50px;
                    font-size: 16px;
                    vertical-align: top;
                }
            }

        }
        .compyright {
            margin: 0;
            .copyr-1 {
                p {
                    text-align: center;
                    margin: 0 0 20px;
                }
                order: 2;
            }
            .copyr-2 {
                order: 1;
                .social-media-links {
                    padding: 20px 0;
                    justify-content: center;
                    width: 100%;
                }
            }
        }
    }
}

@media (min-width: 767.98px) and (max-width: 991.98px) {
    header {
        .hero {
            .sec-1 {
                width: 70%;
                padding-right: 15px;
                h2 {
                    width: 80%;
                    line-height: 50px;
                    font-size: 2em;
                }
                p {
                    font-size: 16.7px;
                    line-height: 35px;
                }
                .download-btn {
                    width: 80%;
                }
            }
            .sec-2 {
                width: 30%;
                img {
                    position: absolute;
                    top: 20px;
                    right: 0;
                    width: 220px;
                    &:nth-child(1) {
                        right: -50px;
                    }
                    &:nth-child(2) {
                        right: 60px;
                        top: 145px;
                        width: 150px;
                    }
                }
            }
        }
    }

    .sec-one {
        .grid-two-four {
            height: 1300px;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 25% 25% 25% 25%;
            grid-column-gap: 35px;
            grid-row-gap: 0;
            grid-template-areas: 
            ". c-one"
            "c-two c-one"
            "c-two c-three"
            ". c-three";
        }
        .card {
            padding: 25px !important;
            width: 320px !important;
            height: 470px !important;
            p {
                font-size: 0.9em !important;
            }
        }
    }

    .sec-three {
        h2 {
            display: block;
            margin: 0;
            transform: translate(50px, 0);
            padding-bottom: 50px;
        }
        .quot-col-2 {
            margin: 50px 0;
            padding: 0;
            display: block;
            .items-quot {
                width: 90%;
                margin: 50px auto;
                text-align: center;
            }
        }
    }

    .sec-four {
        .down-app {
            .c-four-left {
                position: relative;
                img {
                    width: 210px;
                    transform: translateX(-50%);
                    &:nth-of-type(1) {
                        left: -25%;
                        width: 180px;
                    }
                    &:nth-of-type(3) {
                        left: 25%;
                        width: 180px;
                    }
                }
            }
            .c-four-right {
                p {
                    width: 100%;
                }
            }
        }
    }

    footer {
        .footer-c3 {
            margin: 30px 0;
            text-align: center;
            p {
                width: 70% !important;
                margin: 0 auto 30px;
                text-align: center;
            }
        }
    }
}

@media (min-width: 991.98px) and (max-width: 1199.98px) {
    header {
        .hero {
            .sec-1 {
                width: 60%;
                h2 {
                    width: 80%;
                    font-size: 2.5em;
                }
                p {
                    font-size: 17px;
                }
                .download-btn {
                    width: 70%;
                }
            }
            .sec-2 {
                width: 40%;
                img {
                    top: -50px;
                    width: 250px;
                    &:nth-child(2) {
                        right: 150px;
                        top: 100px;
                        width: 170px;
                    }
                }
            }
        }
    }

    footer {
        .footer-c1 {
            display: none;
        }
        .footer-c2 {
            ul {
                padding: 0 !important;
            }
        }
        .footer-c3 {
            margin: 0;
            text-align: center;
            p {
                width: 80% !important;
                margin: 0 auto 30px;
                text-align: center;
            }
        }
    }
}

//! end responsive



















