doctype html 
html(lang="en")
    head 
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="")
        meta(name="keywords", content="")
        title Contact Us
        link(rel="stylesheet", href="css/bootstrap-grid.min.css")
        link(rel="stylesheet", href="css/style.css")
    body 

        // add new class for about page for styling

        //-start header
        header(style="box-shadow: none; height: 850px")
            .container 
                nav
                    .logo
                        h1: a(href="#") logo
                    ul
                        li.item: a(href="index.html") Home
                        li.item: a(href="#") About
                        li.item: a(href="#") Contact Us
        //-end header

        section.contact 
            .container 
                h2 Get In Touch
                div(class="row get-in-touch")
                    .col-sm-6
                        h3 Leave us a message
                        form
                            input(type="text", name="name" id="inputText")
                            span.placeholder-name Full Name
                            input(type="email", name="email" id="inputEmail")
                            span.placeholder-email Email Address 
                            textarea#textArea
                            span.placeholder-message Your Message
                            input(type="submit", value="Send") 
                    .col-sm-6
                        div(class="info-contact")
                            ul.info-c
                                li #[img(src="images/icons/location.svg", alt="")] #[p Infomation technologies building, Victoria Island Lagos, Nigeria]
                                li #[img(src="images/icons/phone.svg", alt="")] #[p +234 081-1236-4568]
                                li #[img(src="images/icons/message.svg", alt="")] #[p hello@info.com]
                            ul.social-media
                                li: a(href="#"): img(src="images/icons/Youtube.svg", alt="Youtube") 
                                li: a(href="#"): img(src="images/icons/Instagram.svg", alt="Instagram") 
                                li: a(href="#"): img(src="images/icons/Facebook.svg", alt="Facebook") 
                                li: a(href="#"): img(src="images/icons/Twitter.svg", alt="Twitter") 
                            .address-on-map 
                                img(src="", alt="")
                            
        //-start footer
        include footer.pug
        //-end footer

        // scripts
        script(src="js/main.js") 