doctype html 
html(lang="en")
    head 
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="")
        meta(name="keywords", content="")
        title Contact Us
        link(rel="stylesheet", href="css/bootstrap-grid.min.css")
        link(rel="stylesheet", href="css/style.css")
    body 

        // add new class for about page for styling

        //-start header
        header(class="headerContact" , style="box-shadow:none;")
            .container 
                nav
                    .logo
                        h1: a(href="index.html") logo
                    ul
                        li.item: a(href="index.html") Home
                        li.item: a(href="#") About
                        li.item: a(href="contact.html") Contact Us
                    div(id="overblur")
        

            section.contact 
                .container 
                    h2 Get In Touch
                    div(class="row get-in-touch")
                        div(class="col-12 col-lg-6")
                            h3 Leave us a message
                            form
                                input(type="text", name="name" id="inputText")
                                span.placeholder-name Full Name
                                input(type="email", name="email" id="inputEmail")
                                span.placeholder-email Email Address 
                                textarea#textArea
                                span.placeholder-message Your Message
                                input(type="submit", value="Send" id="sub") 
                        div(class="col-12 col-lg-6")
                            div(class="info-contact")
                                ul.info-c
                                    li #[img(src="images/icons/location.svg", alt="")] #[p Infomation technologies building, Victoria Island Lagos, Nigeria]
                                    li #[img(src="images/icons/phone.svg", alt="")] #[p +234 081-1236-4568]
                                    li #[img(src="images/icons/message.svg", alt="")] #[p hello@info.com]
                                ul.social-media
                                    li: a(href="#"): img(src="images/icons/Youtube.svg", alt="Youtube") 
                                    li: a(href="#"): img(src="images/icons/Instagram.svg", alt="Instagram") 
                                    li: a(href="#"): img(src="images/icons/Facebook.svg", alt="Facebook") 
                                    li: a(href="#"): img(src="images/icons/Twitter.svg", alt="Twitter") 
                                #map 
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6368.635411732324!2d37.38220199999999!3d37.0499115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sar!2str!4v1618320305280!5m2!1sar!2str" width="340" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe> 
        //-end header
        //-start footer
        include footer.pug
        //-end footer

        // scripts
        script(src="js/main.js") 